.idea/

*.log

sparklocal.log*

# sbt specific
.cache
.lib/
dist/*
target/
build/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

checkpoints/
spark-warehouse/
build/
.gradle/
out/

metastore_db/
